# Copy file ini ke .env dan isi dengan path vault Obsidian Anda
# (Jangan commit file .env ke git)

# Path ke folder .obsidian/plugins di vault Anda
# Windows=C:/Users/YourName/Documents/MyVault/.obsidian/plugins/obsidian-kanban
# Mac/Linux=/Users/YourName/Documents/MyVault/.obsidian/plugins/obsidian-kanban
# Jangan Gunakan Spasi
OBSIDIAN_VAULT_PLUGIN_PATH=
